!!! 5
html
  head
    title FitIt Browsergame Foo
    link(href="/stylesheets/application.css?" + global.currentGitHead, media="all", rel="stylesheet", type="text/css")
    link(rel="shortcut icon", href="/_favicon.ico", type="image/x-icon")
    link(rel="icon", href="/_favicon.ico", type="image/x-icon")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/lib/jquery-1.7.min.js")
    script(type="text/javascript", src="/javascripts/lib/jquery/jquery.color.js")
    script(type="text/javascript", src="/javascripts/lib/jquery/jquery.easing.js")
    script(type="text/javascript", src="/javascripts/lib/modernizr.js")
    script(type="text/javascript", src="/javascripts/lib/json2.js")
    
    script(type="text/javascript", src="https://use.typekit.com/miq8bbo.js")

    script(type="text/javascript", src="/javascripts/application.js")
    script(type="text/javascript", src="/javascripts/game/game.js")
body
  != body