#container

  #wrapper

    canvas#screen(width="480", height="416")

    .enter-name
      input
    .waiting
      | Waiting for 
      .waiting-for 3
      | more players...


    .info
      p The puzzle is about fitting the blocks inside the highlighted area.
      p Each round starts when 4 players did join the game. Every player controls only one single block.
      p The challange is, to solve the puzzel without the possibility to communicate directly with each other.
      p Move the blocks with the arrow keysand turn them by pressing the space bar.

    .players

