#container

  #wrapper
    .sound.on
    
    .winning

    canvas#screen(width="480", height="416")

    .enter-name
      form#name-input
        input
    .waiting
      | Waiting for 
      .waiting-for 3
      | more players...


    .info
      p This is a puzzle game that's about fitting the blocks inside the highlighted area.
      p Each round starts as soon as 4 players have joined the game. Every player controls only one single block.
      p The challange is to solve the puzzle without the ability to communicate directly with each other.

    ul.players

    .advanced-logo

    .credits
      | Built by:
      .links
        a(href="http://www.twitter.com/newmetl", target="_blank") @newmetl
        br
        a(href="http://www.twitter.com/rattazong", target="_blank") @rattazong
        br
        a(href="http://www.twitter.com/snnd", target="_blank") @snnd
      | Straight to your face in about 12 hours!