#container

  #wrapper
    .social-media
      a.twitter(href="https://twitter.com/share", class="twitter-share-button", data-url="http://fititgame.com", data-text="Come and play &quot;FitIt&quot;, a multiplayer puzzle created with HTML5 + JavaScript!") Tweet
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      iframe.fb-like(src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffititgame.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21&amp;appId=205028592937848", scrolling="no", frameborder="0", style="border:none; overflow:hidden; width:100px; height:21px;", allowTransparency="true")
      
    .sound.on
    
    .winning

    canvas#screen(width="480", height="416")

    .enter-name
      form#name-input
        input
    .waiting
      | Waiting for 
      .waiting-for 3
      | more players...


    .info
      p This is a puzzle game that's about fitting the blocks inside the highlighted area.
      p Each round starts as soon as 4 players have joined the game. Every player controls only one single block.
      p The challange is to solve the puzzle without the ability to communicate directly with each other.

    ul.players

    .advanced-logo

    .credits
      | Built by:
      .links
        a(href="http://www.twitter.com/newmetl", target="_blank") @newmetl
        br
        a(href="http://www.twitter.com/rattazong", target="_blank") @rattazong
        br
        a(href="http://www.twitter.com/snnd", target="_blank") @snnd
      | Straight to your face in about 12 hours!