html
  overflow hidden
body
  overflow hidden
  background-color #222222

#container
  position absolute
  top 0
  left 0
  width 100%
  height 100%

#wrapper
  width 970px
  height 585px
  background-image url('/images/background-image.png')
  background-repeat no-repeat
  position absolute
  box-shadow(2px 2px 15px #000000)

  canvas,
  .logo,
  .info,
  .controls
    position absolute

  canvas
    width 480px
    height 416px
    top 80px
    left 110px

  .logo
    width 210px
    height 90px
    top 60px
    right 130px
    background-image url('/images/fitit-logo.png')
    background-repeat no-repeat

  .info
    width 210px
    height 240px
    top 160px
    right 125px
    font-size 13px
    font-family 'tahoma'
    color #444444
    text-shadow(0 0 2px #FFFFFF)

    p
      margin 0 0 10px 0

  .controls
    width 220px
    height 100px
    right 120px
    bottom 45px
    background-image url('/images/control-keys.png')
    background-repeat no-repeat