html
  overflow hidden
body
  overflow hidden
  background-image url('/images/concrete-background.jpg')
  background-repeat repeat

#container
  position absolute
  top 0
  left 0
  width 100%
  height 100%

  .sound
    width 16px
    height 17px
    position absolute
    top 10px
    left 10px

    cursor pointer

    &.on
      background url("/images/sound-on.png") left center
    &.off
      background url("/images/sound-off.png") left center

.waiting
  width: 480px
  height: 416px
  top: 179px
  left: 117px
  text-align center
  background-image url('/images/waiting-teaser.png')
  background-repeat no-repeat
  background-position center 80px

.enter-name
  width 350px
  height 65px
  top 214px
  left 182px
  text-align center

.enter-name
  background-image url('/images/whats-name-label.png')
  background-repeat no-repeat
  background-position center 4px
  input
    margin-top 32px
    width 350px
    height 30px
    background-image url('/images/black-pixel.png')
    background-color transparent
    background-repeat repeat
    border none

.waiting, input, .players
  color #DDDDDD
  text-align center
  font-size 20px
  font-family 'tahoma'

.waiting
  display none

#wrapper
  width 970px
  height 585px
  background-image url('/images/background-image.png')
  background-repeat no-repeat
  position absolute
  box-shadow(2px 2px 15px #000000)

  .social-media
    position absolute
    top 8px
    left 40px

    z-index 10

  canvas,
  .logo,
  .info,
  .controls,
  .enter-name,
  .waiting,
  .players,
  .winning
    position absolute

  canvas
    width 480px
    height 416px
    top 86px
    left 118px
    display none

  .info,
  .credits,
  .credits a
    font-size 13px
    font-family 'tahoma'
    color #444444
    text-shadow(0 0 2px #FFFFFF)

    p
      margin 0 0 10px 0

.players,
.info
  width 210px
  height 240px
  top 220px
  right 130px

.players
  overflow visible
  color #444444
  text-align left
  li
    height 35px
    padding 10px 0 10px 45px
    background-repeat no-repeat
    background-position 0 center
    &.green
      background-image url('/images/green-tile.png')
    &.pink
      background-image url('/images/pink-tile.png')
    &.blue
      background-image url('/images/blue-tile.png')
    &.orange
      background-image url('/images/orange-tile.png')

.winning
  display none
  cursor pointer
  width 696px
  height 284px
  top 151px
  left 140px
  background-image url('/images/play-again-overlay.png')
  background-repeat no-repeat
  background-position center center
  z-index 9000 // over 9000!!!

.credits
  position absolute
  width: 300px
  height: 60px
  bottom: 17px
  left: 330px
  .links
    margin-left 52px
    margin-top -18px