border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -o-border-radius arguments
  border-radius arguments

border-bottom-radius()
  -webkit-border-bottom-right-radius arguments
  -webkit-border-bottom-left-radius arguments
  -moz-border-bottom-right-radius arguments
  -moz-border-bottom-left-radius arguments
  -o-border-bottom-right-radius arguments
  -o-border-bottom-left-radius arguments
  border-bottom-left-radius arguments
  border-bottom-right-radius arguments

border-left-radius()
  -webkit-border-top-left-radius arguments
  -webkit-border-bottom-left-radius arguments
  -moz-border-top-left-radius arguments
  -moz-border-bottom-left-radius arguments
  -o-border-top-left-radius arguments
  -o-border-bottom-left-radius arguments
  border-top-left-radius arguments
  border-bottom-left-radius arguments

border-right-radius()
  -webkit-border-top-right-radius arguments
  -webkit-border-bottom-right-radius arguments
  -moz-border-top-right-radius arguments
  -moz-border-bottom-right-radius arguments
  -o-border-top-right-radius arguments
  -o-border-bottom-right-radius arguments
  border-top-right-radius arguments
  border-bottom-right-radius arguments
  
border-top-radius()
  -webkit-border-top-right-radius arguments
  -webkit-border-top-left-radius arguments
  -moz-border-top-right-radius arguments
  -moz-border-top-left-radius arguments
  -o-border-top-right-radius arguments
  -o-border-top-left-radius arguments
  border-top-left-radius arguments
  border-top-right-radius arguments
  
border-top-left-radius()
  -webkit-border-top-left-radius arguments
  -moz-border-top-left-radius arguments
  -o-border-top-left-radius arguments
  border-top-left-radius arguments
  
border-top-right-radius()
  -webkit-border-top-right-radius arguments
  -moz-border-top-right-radius arguments
  -o-border-top-right-radius arguments
  border-top-right-radius arguments

border-bottom-right-radius()
  -webkit-border-bottom-right-radius arguments
  -moz-border-bottom-right-radius arguments
  -o-border-bottom-right-radius arguments
  border-bottom-right-radius arguments
  
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  -o-border-radius arguments
  box-shadow arguments

text-shadow()
  -webkit-text-shadow arguments
  -moz-text-shadow arguments
  text-shadow arguments

transform()
  -moz-transform arguments
  -webkit-transform arguments
  -o-transform arguments
  transform arguments

perspective()
  -webkit-perspective arguments
  -o-perspective arguments
  -moz-perspective arguments
  -ms-perspective arguments
  perspective arguments

perspective-origin()
  -webkit-perspective-origin arguments
  -o-perspective-origin arguments
  -moz-perspective-origin arguments
  -ms-perspective-origin arguments
  perspective-origin arguments

preserve-3d()
  -webkit-transform-style preserve-3d
  -moz-transform-style preserve-3d
  -o-transform-style preserve-3d
  -ms-transform-style preserve-3d
  transform-style preserve-3d

transform-origin()
  -webkit-transform-origin (arguments)
  -moz-transform-origin (arguments)
  -o-transform-origin (arguments)
  -ms-transform-origin (arguments)
  transform-origin (arguments)

transition-origin()
  -webkit-transition-origin arguments
  -moz-transition-origin arguments
  -o-transition-origin arguments
  -ms-transition-origin arguments
  transition-origin arguments
  
transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  -ms-transition arguments
  transition arguments

transition-property()
  -webkit-transition-property arguments
  -moz-transition-property arguments
  -o-transition-property arguments
  -ms-transition-property arguments
  transition-property arguments

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  -ms-animation arguments
  animation arguments
  
clearfix()
  &:after
    content "."
    display block
    clear both
    visibility hidden
    line-height 0
    height 0

disable-select()
  -webkit-touch-callout none
  -webkit-user-select none
  -moz-user-select none
  -o-user-select none
  -ms-user-select none
  -khtml-user-select none
  user-select none
